@page "/"

<h3 class="text-capitalize">Luck Draw!</h3>
<br />
输入你想抽取的人数：
<input type="text" placeholder="输入1，点击按钮试试" @bind="numberInput"/>
<button class="btn btn-primary" @onclick="GetNumberButton_Click">抽取</button>
<input type="range" @bind="numberOfPeople" />
<br /><br />
<p class="text-body" cols="50">@resultText</p>
@code {
    private string numberInput;
    private string resultText;
    private string numberOfPeople = "55";

    private void GetNumberButton_Click()
    {
        Union union= Algorithm.Parser(numberInput, 55);
        Union max = Algorithm.Parser(numberOfPeople, 10000);
        if (union.number != 0 && max.number != 0)
        {
            resultText = Algorithm.Getter(union.number, max.number);
            return;
        }
        resultText = union.message;
    }
}